version: '3.8'
services:
  api-gateway:
    build: ./api-gateway
    ports:
      - "3000:3000"
  user-service:
    build: ./user-service
    ports:
      - "5000:5000"
  notification-service:
    build: ./notification-service
    ports:
      - "8080:8080"
